#!/usr/bin/env zsh

alias r!="exec zsh -l"

# When nothing works on docker, this is the best solution
alias thanos="make build up provision"

# Git delete local branch
alias gdb="git branch -D $1"

# Git local branch cleaner (except Master)
alias gbc="git branch | grep -v "master" | xargs git branch -D"

# Lazy Git Pull
alias gp="git pull"

# Rerun CI by Empty commit
function ci() {
  git commit --allow-empty -m "Rerun ci"
  git push
}

# Git Pull all projects in a directory (1 subdirectory depth)
function gpa() {
  ls | xargs -I{} git -C {} pull
}

# Git combine add with commit and push
function gac() {
  git add .
  git commit -m "$1"
  git push
}

# Go to main|master branch
function gcm() {
  if git branch | grep -q '^[* ]*master$'; then
      git checkout master
  else
      git checkout main
  fi
}

# Go to develop|development branch
function gcd() {
  if git branch | grep -q '^[* ]*develop$'; then
      git checkout develop
  else
      git checkout development
  fi
}
